/* .footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 25px;
    color: #333;
} */
.footer-section{
    background: #000;
    color: antiquewhite;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 25px;
    color: #333;
}